<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Autoperimenter</title>
    {% else %}
    <title>Autoperimenter</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="header">
    <div class="navBar">
        <div class="float_left">
            <a href="/sweetPea" class="{% if title == 'Sweet' %}current{% else %}notcurrent{% endif %}">Sweet</a>
            <a href="/sourPea" class="{% if title == 'Sour' %}current{% else %}notcurrent{% endif %}">Sour</a>
            <a href="/jsPsych" class="{% if tile == 'Psych' %}current{% else %}notcurrent{% endif %}">Psych</a>
        </div>
        <div class="float_right">
            <a href="/index" class="{% if title == 'About' %}current{% else %}notcurrent{% endif %}">About</a>
            <a href="/resources"
               class="{% if title == 'Resources' %}current{% else %}notcurrent{% endif %}">Resources</a>
            <a href="/team" class="{% if title == 'Team' %}current{% else %}notcurrent{% endif %}">Team</a>
        </div>
    </div>

</div>
<div class="mainWrapper">
    {% block content %}{% endblock %}
</div>
</body>
</html>