<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
</head>
<body>
<div class="title">LOADING...</div>
<div class="loader">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
    <div class="inner four"></div>
    <div class="inner five"></div>
    <div class="inner six"></div>
</div>
</body>
<script>
    let inners = document.getElementsByClassName('inner');
    for (var i = 0; i < inners.length; i++) {
        inners[i].style.animationDuration = Math.round(4 * Math.random() + 2).toString() + 's';
    }
    const pause = () => {
        for (var i = 0; i < inners.length; i++) {
            inners[i].style.animationPlayState = 'paused';
        }
        setTimeout(play, Math.random() * 1000)
    };
    const play = () => {
        for (var i = 0; i < inners.length; i++) {
            inners[i].style.animationPlayState = 'running';
        }
        setTimeout(pause, Math.random() * 7000 + 1000)
    };

    play();
    setTimeout(pause, Math.random() * (5000 + 1000));


    // get all inner divs:


    var f = document.createElement('form');
    f.action = '{{my_endpoint}}';
    f.method = 'POST';
    f.target = '';

    var i_1 = document.createElement('input');
    i_1.type = 'hidden';
    i_1.name = 'loading';
    i_1.value = 'true';

    var i_2 = document.createElement('input');
    i_2.type = 'hidden';
    i_2.name = 'my_function';
    i_2.value = '{{my_function}}';

    var i_3 = document.createElement('input');
    i_3.type = 'hidden';
    i_3.name = 'text';
    i_3.value = '{{text}}';

    var i_4 = document.createElement('input');
    i_4.type = 'hidden';
    i_4.name = 'code';
    i_4.value = '{{code}}';


    f.appendChild(i_1);
    f.appendChild(i_2);
    f.appendChild(i_3);
    f.appendChild(i_4);

    document.body.appendChild(f);
    f.submit();
</script>
</html>