{% extends "base.html" %}
{% block content %}

<h2><a href="https://github.com/sweetpea-org/sweetpea-py">SweetPea</a>: A standard language for factorial experimental
    design.</h2>
<p>
    Experimental design is a key ingredient of reproducible empirical research. Yet, given the increasing complexity of
    experimental designs, researchers often struggle to implement ones that allow them to measure their variables of
    interest without confounds. <a href="https://github.com/sweetpea-org/sweetpea-py">SweetPea</a> is an open-source
    declarative language in Python, in which researchers can describe their desired experiment as a set of factors and
    constraints. The language leverages advances in areas of computer science to sample experiment sequences in an
    unbiased way. <a href="https://github.com/sweetpea-org/sweetpea-py">SweetPea</a> is a standalone package. A guide
    can be found <a
        href="https://sweetpea-org.github.io/">here</a>.
</p>
<h2><a href="https://www.jspsych.org/">jsPsych</a>: A JavaScript framework for creating behavioral experiments that run
    in a web browser</h2>
<p>
    One of the recent major advances in cognitive psychology research has been the option of web-based in addition to
    lab-based experimental research. This option fosters experimental research by increasing the pace and size of
    collecting data sets. Importantly, web-based research profits heavily from tools that are frequently
    applied in cognitive psychology into open access software. One of this tools is <a href="https://www.jspsych.org">jsPsych</a>,
    a JavaScript has an active community producing task plugins and extensions to make building online
    experiments accesible.
</p>
<h2><a href="https://beta.openai.com/docs/introduction/overview">GPT-3</a>: A Generative Pre-trained Transformer</h2>
<p>
    <a href="https://beta.openai.com/docs/introduction/overview"></a> can be applied to virtually any task that involves
    understanding or generating natural language or code. Importantly, it offers a model to transform natural language
    to code and vice versa.
</p>
{% endblock %}