{% extends "base.html" %}
{% block content %}
    <div class="centerWrapper">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username(class='formTextInput') }}
        {{ form.password(class='formTextInput') }}
        {{ form.key(class='formTextInput') }}
        {{ form.submit(class='formSubmitButton') }}
    </form>
    {% if form.errors %}
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error loginAlert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <a href="/login" class="loginLink">Do you already have a account? Log In</a>
    </div>
{% endblock %}