{% extends "base.html" %} {% block content %}
<form action="" method="post" novalidate>
  <div class="gpt3 TextContainer">
    <textarea name="gpt3Text" rows="25">{{ text }}</textarea>
  </div>
  <div class="gpt3 Between">
    <div class="gpt3 buttonContainer">
      <input type="submit" name="toCode" value="To code" />
      <input type="submit" name="toText" value="To text" />
    </div>
    <div class="gpt3 buttonContainer">
      <input type="submit" name="formatText" value="comment/ uncomment text" />
      <input type="submit" name="formatCode" value="comment/ uncomment code" />
    </div>
    <div class="gpt3 buttonContainer getSequence">
      <input type="submit" name="runPython" value="Get Sequence" />
    </div>
    <div class="gpt3 buttonContainer getText">
      <input type="submit" name="getPdf" value="Get PDF" />
    </div>
  </div>
  <div class="gpt3 CodeContainer">
    <textarea name="gpt3Code" rows="25">{{ code }}</textarea>
  </div>
  <div class="gpt3 Footer"></div>
</form>
{% endblock %}
