{% extends "base.html" %} {% block content %}
<h2>Principal Investigator</h2>
<p>
  <b>Sebastian Musslick</b> is an Assistant Professor of
  <a href="https://vivo.brown.edu/display/smusslic"
    >Cognitive, Linguistic and Psychological Sciences</a
  >
  (Research) at Brown University,
  <a href="https://schmidtsciencefellows.org/">Schmidt Science Fellow</a> , and
  <a href="https://ccbs.carney.brown.edu/brainstorm">BRAINSTORM</a> Innovator at
  the Carney Institute for Brain Science. Before joining Brown University,
  Sebastian received his Ph.D. in Quantitative and Computational Neuroscience at
  Princeton University. Aside from developing Online Research Assistant,&nbsp;
  ​Sebastian seeks to understand limitations in the human mind's capacity to
  exert mental effort and the consequences of these limitations for natural and
  artificial cognition.
</p>

<h2>Researchers</h2>
<p>
  <b>Brian Ji</b> is a freshman at Brown University. He is planning to study
  biology or computer science and is an undergraduate researcher at the
  <a href="https://musslick.github.io/AER_website"
    >Autonomous Empirical Research Group</a
  >.<br />
  <b>Younes Strittmatter</b> is a research assistant at the
  <a href="https://musslick.github.io/AER_website"
    >Autonomous Empirical Research Group</a
  >. Younes received his BA in Psychology at the University of Freiburg. His
  general interest lies in the integration of AI in cognitive neuroscience,
  applied to the study of mental effort and cognitive control.<br />
  <b>Kevin Phan</b> is a junior at Princeton University, studying computer
  science and pursuing the robotics certificate. He is an undergraduate research
  assistant at AER.
</p>

<h2></h2>
{% endblock %}
