
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #747a8f;
}

.header {
    position: relative;
    background: #0004;
    display: flex;
    padding: 1vw;
    justify-content: space-between;

}

.navBar a {
    color: #fff;
    text-decoration: none;
}

.navBar a:hover {
    text-decoration: underline;
}

.Main {
    position: absolute;
    display: inline;
    width: 100vw;
}

.TextContainer {
    display: inline-block;
    float: left;
    width: 42vw;
    min-height: 50vh;

}

.TextContainer textarea {
    background: #fffd;
    color: #000307;
}

.Between {
    display: inline-block;
    width: 16vw;
}

.CodeContainer {
    display: inline-block;
    float: right;
    width: 42vw;
}

.CodeContainer textarea {
    background: #000d;
    color: #fffaf9;
}

.buttonContainer {
    position: relative;
    display: inline-flex;
    left: 50%;
    transform: translateX(-50%);
}

textarea {
    padding: 2vw 3vw;
    line-height: 22pt;
    font-size: 14pt;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    height: 98%;
    width: 98%;
    margin: 1%;
    resize: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.gpt3 input {
    outline: 2px solid #fffe;
    border: none;
    border-radius: 16pt;
    white-space: normal;
    margin: .5vw;
    padding: .6vw;
    width: 10vw;
    background: #d6a;
    font-size: 16pt;
    color: #fffe;
    text-shadow: 0 0 2pt #000f;
}

.gpt3 input:hover {
    outline: 2px solid #d6a;
    background: #111;
    color: #d6a;
    text-shadow: 0 0 2pt #fff2;
}
}