:root {
    --pink: #d6a;
    --highlightpink: #e6b;
    --black: #000;
    --white: #fff;
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    background: #444a4f;
}

.mainWrapper {
    padding: 1vh 3vw;
    color: var(--white);
    text-shadow: 0 0 3px #0009;
    letter-spacing: 1pt;
}

.mainWrapper h1 {
    font-size: 28pt;
    line-height: 56pt;
}

.mainWrapper h2 {
    margin: 2.5vw 0 1vw 0;
    font-size: 24pt;
    line-height: 48pt;
    letter-spacing: 2pt;
    text-space: 4pt;
    text-shadow: 0 0 3px #000c;
}

.mainWrapper p {
    border-bottom: 1px solid #0001;
    line-height: 28pt;
    font-size: 14pt;
    letter-spacing: 1.5pt;
    text-space: 3pt;
    text-align: justify;
    padding-bottom: 2vw;
    margin-bottom: 1vw;
}

.mainWrapper p b {
    text-shadow: 0 0 3px #000b;
}

.mainWrapper a {
    color: var(--pink);
    text-shadow: 0 0 2px var(--black);
    text-decoration: none;
}

.mainWrapper a:hover {
    color: var(--black)
}


.header {
    position: relative;
    background: #0004;
    display: flex;
    padding: 1vw 3vw;
    margin-bottom: 1vw;
}

.navBar {
    width: 100%;
    position: relative;
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.navBar .float_left {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    float: left;
    vertical-align: center;
}

.navBar .float_right {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    float: right;
}

.navBar .float_right a {
    margin: 0 0 0 1.2vw;
}

.navBar .float_left a {
    margin: 0 1.2vw 0 0;
}

.navBar a.nav_text {
    color: var(--white);
    outline: 1px solid var(--white);
    text-decoration: none;
    background: var(--pink);
    padding: .6vw 1.5vw;
    border-radius: 10px;
    text-shadow: 0 0 2pt #000f;
}

.navBar a.nav_text:hover {
    color: var(--pink);
    outline: 1px solid var(--pink);
    background: var(--black);
}

.navBar a.current {
    color: var(--pink);
    outline: 1px solid var(--pink);
    background: var(--black);
}

.navBar .nav_img {
    outline: 1px solid var(--white);
    border-radius: 10px;
    background-image: url("/static/icon/icon_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--pink);
    background-size: 2vw 2vw;
    width: 2.4vw;
    height: 2.4vw;
    display: inline-block;
    vertical-align: middle;
}

.navBar .nav_img:hover {
    background-color: black;
}

.navBar .nav_img:hover:after {
    position: absolute;
    background: var(--pink);
    width: 2.4vw;
    height: 2.4vw;
    outline: 1px solid var(--pink);
    border-radius: 10px;
    content: '';
    mix-blend-mode: multiply;
}

.navBar .nav_img.img_current {
    background-color: black;
}

.navBar .nav_img.img_current:after {
    position: absolute;
    background: var(--pink);
    width: 2.4vw;
    height: 2.4vw;
    outline: 1px solid var(--pink);
    border-radius: 10px;
    content: '';
    mix-blend-mode: multiply;
}


.Main {
    position: absolute;
    display: inline;
    width: 100vw;
}

.TextContainer {
    display: inline-block;
    float: left;
    width: 42%;
    min-height: 50vh;
}

.TextContainer textarea {
    background: #fff;
    color: #000307;
    text-align: justify;
}

.OriginalContainer {
    display: inline-block;
    float: left;
    width: 42%;
}

.OriginalContainer textarea {
    background: #fff;
    color: #000307;
    font-size: 12pt;
}

.Between {
    display: inline-block;
    width: 16%;
}

.CodeContainer {
    display: inline-block;
    float: right;
    width: 42%;
}

.CodeContainer textarea {
    background: #000d;
    color: #fffaf9;
    font-size: 11pt;
}

.TranslationContainer {
    display: inline-block;
    float: right;
    width: 42%;
}

.TranslationContainer textarea {
    background: #fff;
    color: #000307;
    font-size: 12pt;
}

.buttonContainer {
    position: relative;
    display: inline-flex;
    left: 50%;
    transform: translateX(-50%);
}

textarea {
    line-height: 22pt;
    padding: 4vh 2.5vw;
    font-size: 14pt;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    height: 100%;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.gpt3 input {
    cursor: pointer;
    outline: 2px solid #fffe;
    border: none;
    border-radius: 16pt;
    white-space: normal;
    margin: .4vw;
    padding: .5vw;
    width: 8.5vw;
    background: #d6a;
    font-size: 14pt;
    color: #fffe;
    text-shadow: 0 0 2pt #000f;
}

.gpt3 input:hover {
    outline: 2px solid #d6a;
    background: #111;
    color: #d6a;
    text-shadow: 0 0 2pt #fff2;
}

.emph {
    font-weight: 900;
    color: var(--white);
    text-shadow: 0 0 3px #000d;
}

.titleImage {
    width: 10vw;
    height: 10vw;
    margin: auto;
    display: block;
    margin-top: 3vw;
}
.mainWrapper h2.title {
    text-align: center;
    letter-spacing: 4pt;
    padding-left: 4pt;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 3vw;
    padding-top: 0;
    line-height: 32pt;
}

.mainWrapper h2.title .title_emph{
    font-size: 34pt;
    letter-spacing: 24pt;
    padding-left: 20pt;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}



